.homepage{
    height: 500px;
    width: 800px;
    /* border : 2px solid;  */
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeItems{
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: space-evenly;
    border: 1px solid black;
    box-shadow: 0px 6px 10px black; 
    border-radius: 10px;
    align-items: center;
}

h1{
    font-size: 55px;
    color: green;
}